.btn{
    display: flex;
    padding: 0.9rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 16px;
    border: none;
    background: #6C0;
    color: #0E1B00;
    text-align: center;
    font-family: Manrope;
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.05rem; 
}

.btn:hover{
    background-color: #0E1B00;
    color: #6C0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.btn:active{
    background-color: #0E1B00;
    color: #6C0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

